body {
	background-color: #f4f4f4;
	margin: 20px;
}

/* Begining header and navbar*/

header h1 {
	margin-bottom: 0px;
}

header h3 {
	margin-top: 5px;
}

header nav ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding-left: 0px;
}
header nav ul li {
	line-height: 40px;
  transition: all 500ms;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: #c84451;
	background-color: #D6D6D6;
	text-align: center;
	line-height: 50px;
}

header nav ul li a:hover {
	background-color: #c84451;
	color: white; 
}

header nav ul .firstItem a {
	border-radius: 10px 0 0 10px;
}

header nav ul .lastItem a {
	border-radius: 0 10px 10px 0;
}

/* Ending header and navbar*/

/* Begining hero artcile */

.hero {
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: white;
	border-radius: 5px;
	padding-left: 20px;
}

.hero img {
	align-self: center;
	width: 90%;
	height: 60%;
	border: 3px solid #D6D6D6;
	padding: 4px;
	border-radius: 3px;
}

.hero__info h2 {
	color: #c84451;
}
/* Ending hero artcile */


/* Beging content */
.content {
	background-color: white;
	border-radius: 22px;
}

.article {
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: white;
	padding: 10px;

}

.article__info {
	padding: 10px 20px 0 10px;
}

.content hr {
	width: 95%;
	height: 5px;
	background-color: #f4f4f4;
	border: none;
	border-radius: 5px;
}

.content .radius {
	margin-top: 30px;
	border-radius: 22px;
}

.article__info span, .article__content h2, .article__content a {
	font-weight: 600;
	color: #c84451;
}

.article__content a {
	text-decoration: none;
}
/* Ending content */